# AffordMed Registration Details
EMAIL=your_email@abc.edu
NAME=Your Name
ROLL_NO=your_roll_no
PHONE=your_phone
GITHUB_USERNAME=your_github_username
ACCESS_CODE=your_access_code

# Test Server Details
TEST_SERVER_URL=http://20.207.122.201
